<header>
    <img src="https://pds.exblog.jp/pds/1/201002/12/90/a0126590_22301391.jpg" alt="Profile Picture">
    <h1>José Carlos Pereira</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porttitor ante a eros sodales egestas.
        Maecenas ullamcorper, leo nec vestibulum consectetur, nisl ligula ornare mauris, a lobortis lectus lacus quis
        orci. Ut finibus cursus leo eu dignissim. Vivamus vestibulum ut leo ut gravida. Cras tincidunt, nisi eget
        volutpat faucibus, massa leo laoreet odio, sed mattis tellus ex et lectus. Vivamus hendrerit ex vel ante
        convallis
        faucibus. Nunc id ultricies dui, id sagittis nisl. Aenean purus ipsum, eleifend ut tortor eu, varius
        venenatis massa. Curabitur in lacinia orci. In iaculis neque ac quam tempor, sed imperdiet velit hendrerit.</p>
</header>