<main>
    <h2>Últimas do blog</h2>
    <div class="blog-post">
        <h3><a href="#">5 dicas para sua carreira profissional</a></h3>
        <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolvedor front-end!</p>
    </div>
    <div class="blog-post">
        <h3><a href="#">5 dicas para sua carreira profissional</a></h3>
        <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolvedor front-end!</p>
    </div>
    <div class="blog-post">
        <h3><a href="#">5 dicas para sua carreira profissional</a></h3>
        <p>Confira algumas dicas que podem ajudar a alavancar sua carreira como desenvolvedor front-end!</p>
    </div>
    <a href="#" class="view-all">Ver tudo</a>
</main>
